# General ignores
node_modules/
dist/
build/
android/
ios/
.expo/
.expo-shared/
.DS_Store

# Do not ignore the root-level gradle wrapper stubs used for CI
!gradlew
!gradlew.sh
!gradlew.shim
!gradle.sh
!gradle-ci.sh
!gradlew.bat
!gradle-check
!.ci/
!.profile.d/
!.husky/
.file_activity_report.json
